# 페이커
- 가상 데이터 생성

In [1]:
!pip install faker

Collecting faker
  Downloading Faker-35.2.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\ljh10\anaconda3\envs\pystudy_env\lib\site-packages (from faker) (2.9.0.post0)
Requirement already satisfied: typing-extensions in c:\users\ljh10\anaconda3\envs\pystudy_env\lib\site-packages (from faker) (4.12.2)
Requirement already satisfied: six>=1.5 in c:\users\ljh10\anaconda3\envs\pystudy_env\lib\site-packages (from python-dateutil>=2.4->faker) (1.17.0)
Downloading Faker-35.2.0-py3-none-any.whl (1.9 MB)
   ---------------------------------------- 0.0/1.9 MB ? eta -:--:--
   ---------------------------------------- 1.9/1.9 MB 26.3 MB/s eta 0:00:00
Installing collected packages: faker
Successfully installed faker-35.2.0

In [2]:
from faker import Faker

fake = Faker()
fake.name()
fake.first_name() + " " + fake.last_name()
fake.email()
fake.company()
fake.date_of_birth(minimum_age=19, maximum_age=90)

In [3]:
import pandas as pd
import random

fake = Faker()

def generate_customer_data(n=1000):
    data = []

    for _ in range(n):
        age = fake.random_int(min=19, max=60)
        sub_months = fake.random_int(min=1, max=120)
        monthly_payments = round(random.uniform(10,100), 2)
        usage_frequency = fake.random_int(min=1, max=30)
        stft_score = fake.random_int(min=1,max=5)
        churn = fake.boolean(chance_of_getting_true=30)

        data.append([
            age,sub_months,monthly_payments,usage_frequency,stft_score,churn
        ])
        
    columns = ['AGE', 'SUB_MONTHS','MONTHLY_PAYMENT','USAGE_FEQ','STFT','CHURN']

    return pd.DataFrame(data, columns=columns)

In [4]:
customer_df = generate_customer_data()
customer_df

     AGE  SUB_MONTHS  MONTHLY_PAYMENT  USAGE_FEQ  STFT  CHURN
0     45          58            35.11         17     2  False
1     20          94            85.77         30     5  False
2     57          39            22.79         11     2  False
3     21           9            40.89         30     4   True
4     59           3            87.71         25     1   True
..   ...         ...              ...        ...   ...    ...
995   60          84            60.73         19     1  False
996   48          83            47.86          8     1   True
997   46         104            72.79          3     2  False
998   19          47            52.37         12     4  False
999   30          69            31.42         15     1  False

[1000 rows x 6 columns]

In [ ]:
customer_df.to_csv('customer_data.csv', index=False)

---

# 종합 실습